body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80vh;
    font-family: Montserrat;
}

#imgBouclierRond{
    width: calc(100%/3);
    border-radius: 10%;
}
.txtBouclier{
    width: 25%;
    text-align: center;
}